@{
    ViewData["Title"] = "Home Page";
}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="d-flex flex-column-fluid">
        <div class="container">
            <div class="text-center pt-15">
                <h1 class="font-weight-bolder text-dark mb-6">Welcome!</h1>
                <div class="row">
                    <div class="col-md-12">
                        <img class="img-fluid max-h-180px" src="assets/media/logos/AJ3.jpg" height="200" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
